<div class="footer">
  <div class="contatos">
    <h1>CONTATO</h1>
    <div class="contato">
      <img
        src="../../../assets/Images/instagram-logo.png"
        width="20px"
        height="20px"
      />
      <a
        href="https://instagram.com/ravbikebrasil?igshid=MzMyNGUyNmU2YQ=="
        target="_blank"
        >@ravbikebrasil</a
      >
    </div>
    <div class="contato">
      <mat-icon> email</mat-icon>
      <p>contato@gpravelli.com.br</p>
    </div>
  </div>
  <div class="patrocinadores">
    <h1>PATROCINADORES OFICIAIS</h1>
    <div class="logo-patrocinadores">
      <img
        src="../../../assets/Images/ravcarbon-logo.png"
        class="ravcarbon-logo"
      />
    </div>
  </div>
</div>
<div class="desenvolvimento">
  <p>
    <span><mat-icon>copyright</mat-icon></span
    >Copyright © 2023 Sidney Junior.
  </p>
</div>
