.container {
  height: 80vh;
  width: 90vh;
  position: relative;
}

.div-loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnUpdate {
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.radio-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.acoes {
  position: sticky;
  bottom: 0;
  background-color: #303030; /* Defina a cor de fundo desejada */
  z-index: 1; /* Certifique-se de que a barra de ações apareça acima do conteúdo */
  margin-top: 20px;
}

.acoes button {
  margin: 10px;
}
