/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.accent {
  --background-color: #f5dd9d;
  background-color: #f5dd9d;
  color: #506266;
}
