input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialog-actions {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

mat-form-field {
  width: 100%;
}

a {
  color: #f9a826;
  text-decoration: underline;
  cursor: pointer;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #f5dd9d;
  animation: spinner 0.8s linear infinite;
}
